*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }

@keyframes circle{
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(45px);
    z-index: -1;
    background-size: cover;
}

.page{display: flex; flex-direction: column; height: 100vh;
    /*background: transparent url(http://p3.music.126.net/z4p2xss2a50qNHe6TLFdoA==/2425522650910827.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
}

.disc-container{position: relative; margin-top: 28vw}
.disc-container .icon-wrapper{position: absolute; z-index: 1; display: flex;
    justify-content: center; align-items: center;
    border: 1px solid white; height: 15vw; width: 15vw;
    border-radius: 50%; background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.disc-container .icon {width: 10vw; fill: white; transform: scale(0.6)}
.disc-container .pointer{width: 24vw; position: fixed; left: 45vw; top:0; z-index: 1;}
.disc-container .disc{display: flex; justify-content: center; align-items: center; margin-top: 54vw; }
.disc-container .ring{width: 72vw;position: absolute; top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;}
.disc-container .light{width: 72vw; position: absolute; top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;}
.disc-container .cover{width: 45vw; position: absolute; border-radius: 50%;
    animation: circle 20s infinite linear;
    animation-delay:2147483647s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.disc-container.playing .light,
.disc-container.playing .cover{
    animation-delay:0s;
}

.disc-container .icon-pause{display: none; }
.disc-container.playing .icon-pause{display: block; }
.disc-container.playing .icon-wrapper{display: none; }

.song-description{
    flex-grow: 1;
    color: #AEABAC;
    text-align: center;
    line-height: 2;
    margin-top: 15vw;
}
.song-description h1{
    color: white;
    font-size: 18px;
}
.song-description p{
    font-size: 14px;
    line-height: 24px;
}
.song-description .lines{
    transition: transform 1s;
}
.song-description .lyric{
    height: 72px;
    overflow: hidden;
}
.song-description p.active{
    color: white;
}

